body {
    align-items: flex-start;
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.scoreboard {
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: linear-gradient(135deg, rgba(48, 71, 94, 0.9), rgba(89, 106, 126, 0.9));
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: #fff;
    left: 50%;
    margin-bottom: 40px;
    max-width: 500px;
    padding: 16px 32px;
    position: relative;
    text-align: center;
    top: 20px;
    transform: translateX(-50%);
}

.score {
    font-size: 28px;
    font-weight: 700;
    margin: 16px 0;
    position: relative;
}

.score span {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.current-score span {
    background-color: #2186C9;

    /* Moderno y vibrante rojo coral */
}

.best-score span {
    background-color: #09B688;

    /* Moderno y vibrante verde menta */
}

.card {
    -moz-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    align-items: center;
    background-color: rgba(124, 124, 124, 0.233);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #eee;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    padding: 30px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    width: 11rem;
}

.card:hover {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    background-color: #37b88b92;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.card img {
    -moz-border-radius: 4px;
    -moz-transition: transform 0.4s;
    -ms-border-radius: 4px;
    -ms-transition: transform 0.4s;
    -o-border-radius: 4px;
    -o-transition: transform 0.4s;
    -webkit-border-radius: 4px;
    -webkit-transition: transform 0.4s;
    border-radius: 4px;
    max-width: 100%;
    transition: transform 0.4s;
}

.card:hover img {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

.card p {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.game-board {
    background-color: #007BA04C;
    border-radius: 50px;
    color: #fff;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    justify-items: center;
    max-width: 75vw;
    padding: 50px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sound-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease;
    margin: 15px;
}

.sound-button.sound-on {
    background-color: #4CAF50;
    /* Verde para sonido activado */
}

.sound-button.sound-off {
    background-color: #B0B0B0;
    /* Gris para sonido desactivado */
}

.sound-button:focus {
    outline: none;
}

.sound-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}